numpy
pandas
matplotlib
seaborn
plotly
scikit-learn
xgboost
lightgbm
catboost
torch
torchvision
torchaudio
tensorflow
keras
umap-learn
tqdm
joblib
json5
pyyaml
scipy
jupyterlab
ipykernel
loguru
mlflow
tensorboard
